@media only screen and (max-width:1400px)
{
	
.wrapper{ width:880px;}
.header{background-size: 100% 100%;}
.left-box { width: 550px;}
.right-box{width: 250px;}
.tab-box .tab-content{padding: 67px 40px 50px;}
.sidebar-tab .tabs li::after{right: -10px;}
.badge-icon ul li{ width:16.66%;}
.apprecistion-right{width: 135px;}
.export-left{width: 265px;}
.export-right{ width:125px;}
.export-right input{ font-size:12px;}
.tab-box .tabs li { width: 160px;}

}


@media only screen and (max-width:1199px)
{
	
.wrapper{ width:680px;}
.logo { margin-bottom: 28px;}
.header-menu-right li { margin-right: 15px;}
.user-name{margin-right: 15px; font-size: 16px;}
.header-menu-right li a{ font-size:12px;}
.active-link img{margin-right: 7px; width: 20px;}
.menu-box ul li a img{margin-right: 5px;}
.content{padding:33px 30px 80px;}
.left-box, .right-box{ float:none; }
.left-box{ width:100%; margin-bottom:20px;}
.right-box{ margin:0 auto;}

}

@media only screen and (max-width:991px)
{
.toggle-button{ display:block;}
.menu-box{ position:fixed; left:-250px; top:0; width:250px; height:100%; background:#081a2e; z-index:100; padding:50px 20px; transition:all 0.5s ease-out 0s; overflow:auto;}
.menu-box.open{ left:0;}
.menu-box ul li{ position:static; text-align:left;}
.menu-box ul li.menu-2,.menu-box ul li.menu-3,.menu-box ul li.menu-4,.menu-box ul li.menu-5,.menu-box ul li.menu-6,.menu-box ul li.menu-7,.menu-box ul li.menu-8{ width:100%;}
.menu-box ul li a span br{ display:none;}
.menu-box ul li a img{ margin-right:15px;}
.menu-box ul li a{ display:block; border-radius:0;}
.close-button{ display:block; }
.export-left { width: 325px;}
.help-inner-modal{ width:750px;}
	
}

@media only screen and (max-width:767px)
{

.wrapper{ width:95%;}	
.header{ background:#542c68;padding: 15px;}
.logo{ text-align:center;}
.logo a{ float:none; margin:0;}
.header-menu-left,.header-menu-right{ float:none; text-align:center;}
.header-menu-left{ margin-bottom:10px;}
.header-menu ul li{ float:none; display:inline-block; vertical-align:middle;}
.toggle-button{ top:30px;}
.toggle-button button{ font-size:12px;padding:10px 5px;}
.toggle-button button i{ font-size:16px;}
.header-menu-right li a{ font-size:10px;}
.header-menu-right li { margin-right: 15px;}
.header-menu-right li a img{ display:none;}
.content { padding: 20px 15px 40px;}
.tab-box .tabs li, .tab-box .tabs li.current{ background-position:center top; background-size:cover;}
.tab-box .tabs li{width: 33.333%;font-size: 13px;line-height: 14px;padding: 13px 12px 9px;vertical-align: top;}
.give-box{ width:280px; top:auto;  bottom:-38px; right:auto; left:-15px;padding: 4px 9px;}
.give-box br{ display:none;}
.give-box img{ vertical-align:middle; margin:0 5px 0 0;}
.badge-box{ margin-bottom:50px;}
.sidebar-tab { margin-bottom: 35px;}
.footer h3{ font-size:18px;}	
.footer-links{ padding:15px;}
.footer-links ul li, .footer-copyright ul li{ font-size:12px; padding:0; display:block; line-height:20px;}
.footer-copyright ul li a{ font-size:14px;}
.signup-inner-box{ width:95%; height:440px; overflow:auto; padding:45px 15px 92px;}
.signup-input{ width:100%; padding-right:30px;}
.signup-title h2{ font-size:18px;}
.signup-title h3{ font-size:16px;}
.signup-title{ margin-bottom:40px;}
.signup-icon{ right:0;}
.tab-box .tab-content.need-tab-content { padding: 67px 10px 25px;}
.need-box{ padding:15px;}
.option-box > label{width: 40px;font-size: 10px;padding: 17px 0 0;line-height: normal;}
.option-box .option{ right: 10px;}
.option-box{padding: 0 60px 0 45px;}
.option-box .option > a{margin-right: 8px;}
.export-left input{ height:45px;}
.export-left, .export-right{ float:none; width:100%;}
.export-right input{ height:45px; margin-top:10px;}
.help-inner-modal{ width:95%; height:80%; overflow:auto;padding: 20px 15px 20px;}
.solution-left,.solution-right{ float:none; width:100%;}
.solution-left{ margin-bottom:15px;}
.help-title h2{ font-size:18px;}
.solution-textarea { margin-bottom: 15px;}
.toggle-text{ float:none; margin:0 0 15px;}
.switch{ height:40px;}
.slider:before{ height: 30px; width: 30px;}
.comment-button{padding-right: 25px;}
.signup-other-option{ position:static; margin: 5px 0 0 20px;}
.signup-input p{margin-top: 4px;}
.signup-title h2::before{left: -45px;width: 37px;}
.signup-title h2::after{width: 37px; right:-45px;}
.act-box ul li{ float:none; margin:0 0 15px;}
.act-box ul li:last-child{ margin-bottom:0;}
.main-poll-box{padding: 48px 15px;}
.progress{ width:70%;}
.sr-only{ font-size:13px;}
.poll-review-graph li label{font-size: 11px;}
.poll-review-col{padding-left:50px; padding-top: 5px;}
.poll-review-user{width: 40px; height: 40px; left: 0px;}
.poll-review-col::after{left: 20px;top: 40px;}
.poll-review-content p{ font-size:11px;}
.poll-review-content > h3{ font-size:12px;padding-right: 30px;}
.poll-review-content > h3 span{ font-size:11px;}
.poll-review-date{ font-size:8px;}
.review-meta ul li a{font-size: 12px;}
.review-meta ul li a i{margin-right: 5px; font-size: 13px;}
.review-meta ul li{margin-right: 13px;}
.choice-box{ padding:20px 15px;}
.poll-button-right, .poll-button-left{ float:none;}
.poll-button-left{ margin-bottom:15px;}
}

@media only screen and (max-width:479px)
{
.tab-box .tabs li{min-height: 50px; border-right:1px solid #542c68; margin: 0 -1.5px;}
.tab-box .tabs li:last-child{ border-right:none;}
.tab-box .tabs li:after{ display:none;}
.tab-box .tab-content { padding: 55px 15px 50px;}
.comment-box{padding: 30px 23px;}
.comment-user-detail ul li{ margin-right:20px;}
.sub-comment-row{margin-left: 0;}
.comment-user-detail h3{ font-size:14px;}
.comment-user-detail p{font-size: 11px;}
.sub-comment-row .comment-user-detail ul li { margin-right: 10px;}
.sub-comment-row .comment-user-detail ul li a img{ margin-right:3px;}


	
}
