*{ margin:0; padding:0; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; list-style:none; text-decoration:none;}
*:hover,*focus{ outline:none !important;}
.clear:after{ content:""; clear:both; display:block; }
body{ background:#fff url(../images/main-bg.jpg) no-repeat center top; background-size:cover; font-family: 'Montserrat', sans-serif; font-size:14px; }
.container:after, .row:after, .wrapper:after{ content:""; clear:both; display:block;}
.container{ width:1170px; margin:0 auto; padding-left:15px; padding-right:15px; }
.wrapper{ width:1145px; margin:0 auto; padding:5px 0 0; position:relative;}
.row{ margin-right:-15px; margin-left:-15px;}
a, button, input[type="submit"]{ transition:all 0.5s ease-out 0s; -moz-transition:all 0.5s ease-out 0s; -ms-transition:all 0.5s ease-out 0s; -webkit-transition:all 0.5s ease-out 0s; cursor:pointer; font-family: 'Montserrat', sans-serif;}
input, textarea{ font-family: 'Montserrat', sans-serif;}
img{ max-width:100%;}



/*******************************
Menu
********************************/

.menu-box{ position:absolute; left:-110px; top:253px; text-align:right; z-index:9}
.menu-box ul li{ margin-bottom:2px; position:absolute; transition:all 0.5s ease-out 0s; width: 165px;right:-230px; }
.menu-box ul li:last-child{ margin-bottom:0px; }
.menu-box ul li a{ padding:10px 7px 10px 13px; background:#081a2e; border-radius:13px 0 0 13px; display:block; font-weight:300px; color:#fff; text-transform:uppercase; color:#fff; font-size:11px; text-align:left; position:relative;  }
.menu-box ul li a img{ margin-right:8px; vertical-align:middle;}
.menu-box ul li a span{ display:inline-block; vertical-align:middle;}
.menu-box ul li a:hover{ background:#542c68;}
.menu-box ul li.menu-1{ top:0; }
.menu-box ul li.menu-2{ top:49px;}
.menu-box ul li.menu-3{ top:99px;}
.menu-box ul li.menu-4{ top:148px;}
.menu-box ul li.menu-5{ top:197px; }
.menu-box ul li.menu-6{ top:247px;}
.menu-box ul li.menu-7{ top:296px;}
.menu-box ul li.menu-8{ top:345px;}
.menu-box ul li:hover{ right:-110px;}


/********************************
Home
********************************/

.header{ background:url(../images/header_bg.png) no-repeat center top; padding:24px 25px 0; }
.logo:after, .header-menu:after{ content:""; clear:both; display:block;}
.logo{ margin-bottom:78px;}
.logo a{ float:right; display:block; margin-right:48px;}
.header-menu-left{ float:left;}
.header-menu-right{ float:right;}
.header-menu ul:after{ content:""; clear:both; display:block;}
.header-menu ul li{ float:left;}
.user-name{ color:#feb6b6; font-size:19px; letter-spacing:-0.20px; line-height:30px; font-family: 'Patrick Hand', cursive; margin-right:25px;}
.active-link{ border-radius:10px 10px 0 0; background:#fff; padding:0 15px; line-height:30px; color:#8f229c; font-size:14px; text-transform:uppercase;}
.active-link span{vertical-align: middle;padding: 2px 0 0;display: inline-block;line-height: normal;}
.active-link img{ vertical-align:middle; margin-right:12px;}
.header-menu-right li{ margin-right:33px;}
.header-menu-right li:last-child{ margin-right:0px;}
.header-menu-right li a{ color:#fff; font-size:13px; display:block; line-height:30px;}
.header-menu-right li a img{ vertical-align:middle; margin-right:5px;}
.header-menu-right li a:hover{ color:#ffff00}


/*************************************
content
**************************************/

.content{ min-height:1000px; background:#fff url(../images/contact-bg.jpg) repeat; padding:33px 15px 33px 33px; position: relative;z-index:10;}
.content:after{ content:""; clear:both; display:block;} 
.left-box{ width:770px; float:left;}
.right-box{ float:right; width:290px;}
.tab-content{display: none;}
.tab-content.current{display: inherit;}
.tab-box .tabs{ text-align:center;}
.tab-box .tabs li{ width:180px; position:relative;display: inline-block;cursor: pointer; background:url(../images/tab-bg.png) no-repeat; color:#542c68; font-size:15px; font-family: 'Patrick Hand', cursive; margin:0 -2px; padding:6px 0 2px}
.tab-box .tabs li:after{ content:""; background:url(../images/tab-border.png) no-repeat; height:29px; width:13px; position:absolute; right:-12px; top:0; z-index:1;}
.tab-box .tabs li:last-child:after{ display:none;}
.tab-box .tabs li.current{  background:url(../images/active-tab-bg.png) no-repeat; color:#fff;}
.tab-box .tabs li.current:after{ background:url(../images/active-tab-border.png) no-repeat;}
.tab-box .tab-content{ background:#fff; box-shadow:0 1px 3px rgba(0,0,0,0.17); border-radius:16px; padding:67px; 25px 85px; margin-top:-21px;}
.comment-button{ padding-right:38px; margin-bottom:20px;}
.comment-button a{ background:none; border:1px solid #e2e2e2; border-radius:18px; width:100%; height:86px; text-align:left; vertical-align:top; display:block; padding:4px 23px; color:#d6d8d8; font-size:15px; position:relative;}
.comment-button a:after{ content:""; background:url(../images/question-mark.png); width:20px; height:32px; position:absolute; right:-21px; top:-24px;}
.comment-box{ background-color:#f1f5fd; background-image:url(../images/comment-bg-top.png), url(../images/comment-bg-bottom.png); background-repeat:no-repeat , no-repeat; background-position:right top, left bottom;  border-radius:18px; padding:20px 53px; margin-bottom:30px;}
.comment-row{ position:relative; padding-left:42px; padding-top:5px;}
.comment-user-image{ position:absolute; left:0; top:0; border-radius:100%; width:35px; height:35px; border:1px solid #56baab;}
.comment-user-image img{ vertical-align:top; position:relative; z-index:2; border-radius:100%;}
.comment-user-image:after{ content:""; background:url(../images/user-image-border.png) no-repeat; width:48px; height:48px; position:absolute; left:-14px; top:-14px;}
.comment-user-detail h3{ text-transform:uppercase; color:#140f4f; font-size:17px; letter-spacing:-0.20px; font-family: 'Patrick Hand', cursive; font-weight:normal; margin-bottom:3px;}
.comment-user-detail h3 span{ text-transform:none; color:#6c6b6b; font-size:9px; letter-spacing:-0.20px; margin-left:14px; display:inline-block;}
.comment-user-detail p{ color:#6c6b6b; font-size:12px; line-height:18px; margin-bottom:13px;}
.comment-user-detail ul:after{ content:""; clear:both; display:block; }
.comment-user-detail ul{ padding-left:px;}
.comment-user-detail ul li{ float:left; margin-right:43px;}
.comment-user-detail ul li:last-child{ margin-right:0;}
.comment-user-detail ul li a{ color:#585959; font-size:11px; line-height:14px;}
.comment-user-detail ul li a img{ vertical-align:middle; margin-right:5px;}
.sub-comment-row{ position:relative; padding-left:42px; padding-top:7px; margin-left:50px; margin-top:43px;}
.sub-comment-row .comment-user-detail{ position:relative;}
.sub-comment-row .comment-user-detail:after{ content:""; background:#9a9a9a; width:1px; height:100%; position:absolute; left:-26px; top:35px;}
.sub-comment-row.last .comment-user-detail:after{ display:none;}

.sidebar-tab{ margin-bottom:77px;}
.sidebar-tab .tabs{ text-align:center;}
.sidebar-tab .tabs li{ width:114px; position:relative;display: inline-block;cursor: pointer; background:url(../images/sidetab-bg.png) no-repeat; color:#652763; font-size:11px; font-family: 'Patrick Hand', cursive; margin:0 -3px; padding:10px 0 5px}
.sidebar-tab .tabs li:after{ content:""; background:url(../images/tab-border.png) no-repeat; height:29px; width:13px; position:absolute; right:-11px; top:0; z-index:1;}
.sidebar-tab .tabs li:last-child:after{ display:none;}
.sidebar-tab .tabs li.current{  background:url(../images/active-sidetab-bg.png) no-repeat; color:#fff;}
.sidebar-tab .tabs li.current:after{ background:url(../images/active-tab-border.png) no-repeat;}
.sidebar-tab .tab-content{ background:#d6edea; border-radius:20px; padding:53px 30px;margin-top:-21px; box-shadow:0 1px 3px rgba(0,0,0,0.17);}
.trending-link ul{ margin:0; padding:0; }
.trending-link ul li{ margin-bottom:8px;}
.trending-link ul li:last-child{ margin-bottom:0px;}
.trending-link ul li a{ display:block; background:#fff; border-radius:8px; line-height:32px; display:block; padding:0 38px; font-family: 'Patrick Hand', cursive; color:#144883; font-size:15px; position:relative; }
.trending-link ul li a img{ position:absolute; top:10px; left:5px; }

.badge-box{ background:#fdd9a3; padding:20px 18px 10px; position:relative;}
.badge-box:after{ content:""; position:absolute; left:0; top:-4px; width:80%; margin:0 auto; right:0; background:#a17533; height:4px; border-radius:4px 4px 0 0;} 
.badge-input{ margin-bottom:21px;}
.badge-input > input{ width:100%; height:22px; border:none; background:#fff; border-radius:35px; padding:0 10px; font-size:10px; color:#333 }
.badge-input{ margin-bottom:22px;}
.badge-input ul{ padding:0 12px;}
.badge-input ul li{ margin-right:5px; line-height:14px; padding:0 3px 0 5px; border-radius:0 0 4px 4px; background:#a6c3fb; font-size:11px; color:#363535; display:inline-block;}
.badge-input ul li:last-child{ margin-right:0px;}
.badge-input ul li button{ background:none; border:none; padding:0; vertical-align:middle; margin-left:5px;}
.badge-icon{ margin-bottom:22px;}
.badge-icon ul:after{ content:""; clear:both; display:block;}
.badge-icon ul li{ float:left; margin-right:0px; position:relative;}
.badge-icon ul li:last-child{ margin-right:0;}
.badge-icon ul li input{ position:absolute; opacity:0;}
.badge-icon ul li input+label{ display:block; margin:0; border:1px solid transparent;}
.badge-icon ul li input:checked+label{ border:1px solid #efc314;}
.apprecistion-left{ float:left; color:#444444; font-size:10px; text-align:right;}
.apprecistion-right{ width:175px; float:right;}
.apprecistion-right input[type="text"]{ width:100%; height:25px; border-radius:3px; padding:0 20px 0 10px; border:none; margin-bottom:6px; background:#fff url(../images/lock.png) no-repeat right center;}
.apprecistion-right input[type="submit"]{ width:78px; height:23px; line-height:23px; border-radius:8px; background:#1d2a63; border:none; font-size:10px; color:#fff; float:right;}
.apprecistion-right input[type="submit"]:hover{ background:#ffff00; color:#1d2a63;}
.give-box{ position:absolute; right:-37px; top:-36px; width:37px; border-radius:13px; background:#f3cb2a; padding:10px 9px; word-wrap:break-word; text-align:center; color:#0d0d0d; font-size:11px; line-height:19px;}
.give-box img{ margin-bottom:5px;}

/*************************************
Footer
**************************************/

.footer{background: #081a2e;padding: 10px;position: relative;}
.footer:before{content:""; background:#081a2e; width:100%; height:2px; position:absolute; top:-10px;left: 0;z-index: 10;}
.footer h3{color:#FFF;font-size:22px;font-family: 'Patrick Hand', cursive; text-align: center;font-weight: normal;}
.footer h3 span{color: #fbcdcc}
.footer-links{text-align: center;padding:10px;}
.footer-links ul li, .footer-copyright ul li {display: inline-block;padding-right: 15px;font-size:12px}
.footer-links ul li a{color: #ff8bf8; }
.footer-copyright {text-align: center;}
.footer-copyright ul li a{color: #FFF;font-size: 12px;}


/***********************************
help modal
************************************/
.help-modal{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:20; opacity:0; visibility:hidden; overflow:hidden; transition:all 0.5s ease-out 0s;}
.help-modal.open{ opacity:1; visibility:visible; overflow:visible;}
.help-inner-modal{ position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); background-color:#fff; background-image: url(../images/dots.png), url(../images/modal-bg.png); background-repeat:no-repeat; background-position:right top, center bottom; width:950px; padding:20px 40px 110px; }
.close-modal{ width:25px; height:25px; border-radius:100%; background:#000; color:#fff; font-size:14px; position:absolute; right:30px; top:19px; border:none;}
.help-title{ margin-bottom:15px;}
.help-title h2{ color:#081a2e; font-size:18px; text-transform:uppercase; font-weight:700; line-height:24px;}
.help-title h4{ font-size:14px; font-weight:600; line-height:24px; margin-bottom:5px; }
.solution-left{ float:left; width:48%;}
.solution-right{ float:right; width:48%;}
.solution-textarea{ margin-bottom:20px;position: relative; padding-right: 40px;}
.solution-textarea textarea{ width:100%; height:140px; border-radius:4px; border:1px solid #e2e2e2; resize:none; padding:20px;}
.need-box{ margin-bottom:18px; }
.need-box h4{ font-weight:500; color:#081a2e; font-size:14px; margin-bottom:10px; }
.need-box ul:after, .stress-box ul{ content:""; clear:both; display:block;}
.need-box ul{ margin:0 -10px;}
.need-box ul li{ float:left; width:33.333%; padding:0 10px;}
.need-box ul li select{ width:100%; height:40px; text-align:center; border:1px solid #e2e2e2; border-radius:4px; font-weight:500; color:#081a2e; font-size:18px;}
.need-box ul li label{ color:#081a2e; font-size:12px; font-weight:500; text-align:center; display:block; margin-top:5px;}
.stress-box{}
.stress-box h4{ font-weight:500; color:#081a2e; font-size:14px; margin-bottom:5px; }
.stress-box ul li{ float:left; width:25%; position:relative;}
.stress-box ul li:first-child label{ border-radius:4px 0 0 4px;}
.stress-box ul li:last-child label{ border-radius:0 4px 4px 0; }
.stress-box ul li input{ position:absolute; opacity:0;}
.stress-box ul li input+label{ width:100%; height:50px; display:block; cursor:pointer;}
.stress-box ul li.green input+label{ background:#0aa00d}
.stress-box ul li.yellow input+label{ background:#f2c92f}
.stress-box ul li.blue input+label{ background:#7d2c8b}
.stress-box ul li.red input+label{ background:#cc232a}
.stress-box ul li input:checked+label{ height: 56px; margin-top: -3px;}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 95px;
  height:50px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; border:1px solid #e2e2e2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 5px;
  bottom:4px; background:#542c6a;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}
.toggle-text{ float:left; margin-right:28px; padding-top:7px;}
.toggle-text h6{ color:#081a2e; font-weight:500; font-size:14px; line-height:18px;}
.toggle-text p{ color:#081a2e; font-weight:500; font-size:12px; line-height:18px;}
.toggle-input{ float:left;} 
.solution-box{ border-bottom:1px solid #d2cde1; padding-bottom:15px; margin-bottom:15px; }
.help-button-left{ float:left; padding-top:15px; }
.help-button-left a{ margin-right:10px; vertical-align:middle; color:#a3a6ab; font-size:18px;}
.help-button-left a img{ vertical-align:middle;}
.help-button-left a:last-child{ margin-right:0px;}
.help-button-right{ float:right; }
.help-button-right input{ width:125px; height:50px; border:none; border-radius:4px; background:#fed000; color:#542c68; font-weight:600; text-transform:uppercase; letter-spacing:1px;}
.help-button-right input:hover{ background:#542c68; color:#fff;}
.need-box{ background:#f1f5fd; border-radius:20px; padding:15px 20px; }
.question-input{ margin-bottom:20px;}
.question-input textarea{ width:100%; height:150px; resize:none; border-radius:4px; border:1px solid #e2e2e2; padding:15px 9px; color:#000000; font-size:15px; font-family: 'Montserrat', sans-serif;}
.key-box{ margin-bottom:20px;}
.key-box ul:after{ content:""; clear:both; display:block;}
.key-box ul{ text-align:justify; margin:0;}
.key-box ul li{ width:33.333%; float:left; vertical-align:middle; text-align:left; color:#000000; font-size:15px; font-weight:600; padding:0;}
.key-box ul li span{ color:#f11e1e;}
.key-box ul li img{ vertical-align:middle; margin-right:15px;}
.tab-box .tab-content.need-tab-content{ padding:67px 25px 25px;}
.option-box{ position:relative; border:1px solid #e2e2e2; border-radius:4px; background:#fff; padding:0 85px 0 110px; height:58px; overflow:hidden; margin-bottom:15px;}
.option-box > label{ position:absolute; left:0; top:0; height:100%; width:100px; text-align:center; line-height:58px; background:#56bbac; color:#fff; font-size:16px; font-weight:500; }
.option-box > input{ width:100%; height:100%; border:none; font-size:16px; color:#000;}
.option-box .option{ position:absolute; right:20px; top:15px;}
.option-box .option > a{ float:left; margin-right:17px; color:#542c68; font-size:24px; font-weight:900;line-height: 24px;}
.upload-box{ float:left; position:relative;}
.upload-box input{ opacity:0; position:absolute; cursor:pointer;}
.upload-box input+label{ color:#542c68; font-size:24px; cursor:pointer;}
.export-box{ padding-top:15px;}
.export-left{ float:left; width:425px;}
.export-right{ float:right; width:174px;}
.export-left input{ border:1px solid #e2e2e2; border-radius:4px; padding:0 10px; height:60px; width:100%; color:#000; font-size:14px; background:#fce7e8;}
.export-right input{ width:100%; height:60px; border:none; border-radius:4px; background:#fed000; color:#542c68; font-weight:500; font-size:16px; text-transform:uppercase; letter-spacing:0.5px;}
.export-right input:hover{ background:#542c68; color:#fff;}

/*************************************
signup
*************************************/

.signup-box{ background:rgba(0,0,0,0.7); position:fixed; left:0; top:0; width:100%; height:100%; z-index:99;}
.signup-inner-box{ background:#542c68 url(../images/signup-bg.png) no-repeat center bottom; width:640px; padding:45px 0 92px; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.signup-title{ margin-bottom:50px;}
.signup-title{ text-align:center;}
.signup-title h2{ position:relative; color:#fed000; font-size:23px; text-transform:uppercase; font-weight:600; display:inline-block; margin-bottom:10px;}
.signup-title h2:after{ content:""; width:47px; height:4px; background:#fed000; position:absolute; right:-55px; top:50%; margin-top:-2px;  }
.signup-title h2:before{ content:""; width:47px; height:4px; background:#fed000; position:absolute; left:-55px; top:50%; margin-top:-2px;  }
.signup-title h3{ display:block; color:#fff; font-size:20px;  font-weight:500;}
.signup-input{ margin:0 auto; width:345px; margin:0 auto 47px; position:relative;}
.signup-input input{ width:100%; height:50px; border-radius:35px; padding:0 20px; background:#fff; color:#000; font-size:14px; border:none;}
.signup-input p{ position:absolute; left:0; top:100%; padding:0 20px; font-size:10px; color:rgba(255,255,255,0.5); margin-top:2px; line-height:15px;}
.signup-button{ margin:0 auto; width:125px;}
.signup-button input{ width:100%; height:50px;  border-radius:35px; border:none; background:#fed000; font-weight:600; color:#542c68; font-size:14px; text-transform:uppercase; }
.signup-button input:hover{ background:#fff; color:#542c68;}
.signup-icon{ position:absolute; right:-30px; top:15px; color:#fff; font-size:18px; cursor:pointer;}
.signup-icon input{ opacity:0; position:absolute;  cursor:pointer;}
.signup-icon input+label{ cursor:pointer;}
.signup-icon input:checked+label{ opacity:0.5}
.last .signup-icon{ font-size:22px; right: -24px;}


.mindmap-box{ overflow:auto; width:100%; background:url(../images/mindmap-bg.jpg) no-repeat center center; background-size:cover; padding:40px 50px;}
.node_root{ background:url(../images/node-bg.png) no-repeat; width:168px; height:185px; text-align:center; color:#fff; text-align:center; font-size:14px; line-height:24px; font-weight:600;white-space: normal; padding:60px 30px 0;word-break: break-all; text-transform:uppercase;}
.children__item::before, .children::before, .children__item::before, .children::before{ border-top: 1px dashed #000;}
.children__item:first-child::before, .children__item{ border-left: 1px dashed #000;}
.children__item:last-child::before{ border-left: 1px dashed #000;  border-bottom:1px dashed #000;}
.children_leftbranch .children__item:first-child::before{border-top:1px dashed #000; border-right:1px dashed #000;}
.children_leftbranch .children__item:last-child::before{border-right:1px dashed #000; border-bottom:1px dashed #000;}
.children_leftbranch .children__item{border-right:1px dashed #000;}
.children > .children__item > .node{ min-width:150px; height:50px; border-radius:35px; background:#3cb11d; border:3px solid #fff; text-align:center; color:#fff; font-size:14px; font-weight:600; line-height:18px; }
.children > .children__item > .node .node__text{ height:100%; display:flex; justify-content: center; flex-direction: column;   text-align: center;white-space: normal; padding:0 10px;}
.children .children > .children__item > .node{ min-width:130px; height:40px; border-radius:9px; margin:10px 0;}
.children .children > .children__item:nth-child(2) > .node{ background:#f6bd17;}
.children_leftbranch, .children_leftbranch .children{ padding:0 34px 0 0;}
.children__item::before{width:50px;}
.mindmap > .children > .children__item:nth-child(2n){ padding-right:50px;}
.children_leftbranch .children__item{ padding: 0 20px 0 0;}
.children::before{width: 35px;}
.children{padding: 0 0 0 35px;}
.children__item{padding: 0 0 0 20px;}
.star-rating {  text-align: left; color: #f6bd17; font-size: 8px;}
.children_rightbranch > .children__item:nth-child(2n) {
    padding-left: 50px;
}
.node__input{ width:100%; height:100%; text-align:center; }
.toggle-button{ position:fixed; left:0; top:100px; z-index:99; display:none;}
.toggle-button button{ border:none; background:#fed000; color:#000; font-size:14px; text-transform:uppercase; font-weight:600; padding: 10px 10px; border-radius: 0 4px 4px 0;}
.toggle-button button i{ margin-right:10px; font-size:20px; vertical-align:middle;}
.close-button{ position:absolute; top:15px; right:15px; display:none;}
.close-button button{ border:1px solid #fff; border-radius:100%; width:30px; height:30px; font-size:14px; color:#fff; background:none;}
.signup-other-option{ position:absolute; right:-141px; top:5px;}
.signup-other-option ul{ margin:0; padding:0;}
.signup-other-option ul li{ position:relative; list-style:none;}
.signup-other-option ul li input{ position:absolute; opacity:0; height: auto; padding:0; border-radius:0; width: auto; cursor:pointer;}
.signup-other-option ul li input+label{ color:#fff; font-weight:normal; font-size:9px; position:relative; cursor:pointer;}
.view-password input+label:before{ content:"\f06e"; font-family: 'FontAwesome'; color:#ffff00; font-size:14px; margin-right:5px; display:inline-block; vertical-align:middle; opacity:0.5;cursor:pointer;}
.view-password input:checked+label:before{ opacity:1;}
.confirm-password input+label:before{ content:"\f046"; font-family: 'FontAwesome'; color:#ffff00; font-size:14px; margin-right:5px; display:inline-block; vertical-align:middle; opacity:0.5;cursor:pointer;}
.confirm-password input:checked+label:before{ opacity:1;}
.advice-box{ position:relative; padding-right:40px; margin-bottom:18px;}
.advice-box textarea{ width:100%; height:135px; resize:none; border:1px solid #e2e2e2; border-radius:10px; padding:10px 20px;  font-size:14px; color:#000;}
.advice-attache-box{ position:absolute; right:0; top:10px;}
.advice-attache-box ul{ margin:0; padding:0;}
.advice-attache-box ul li{ position:relative; margin-bottom:4px;}
.advice-attache-box ul li:last-child{ margin-bottom:0;}
.advice-attache-box ul li input{ position:absolute; opacity:0; cursor:pointer; width:0; height:0;}
.advice-attache-box ul li input+label{ width:40px; height:34px; border-radius:0 8px 8px 0; background:#542c68; display: block; text-align:center; padding-top:7px; cursor:pointer;}

.act-box ul:after{ content:""; clear:both; display:block; }
.act-box ul li{ margin-right:20px; float:left; position:relative;}
.act-box ul li:last-child{ margin-right:0px;}
.act-box ul li img{ vertical-align: middle; margin-right:10px; opacity:0.5 }
.act-box ul li input{ position:absolute; opacity:0;cursor:pointer;}
.act-box ul li input+label{ color:#666; font-size:20px; font-weight:bold; display:block; cursor:pointer; }
.act-box ul li input:checked+label{ color:#000;}
.act-box ul li input:checked+label img{ opacity:1;}


.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;  font-size:16px;
  display: block;
  width:100%;
  height:100%;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}
.tgl {
    display: none;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1; left:13px; top:-5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



.toggle-input{ float:right; width:137px;}

.act-box {
    margin: 0 0 30px;
}
.tag-field{ margin-top:15px;}
.tag-field-left, .tag-field-right{ width:48%; float:left;}
.tag-field-right{ float:right;}
.tag-field input{border:1px solid #e2e2e2; padding:0 10px; width:100%; border-radius:4px; height:40px; font-size:13px; color:#000;}
.trending-box{ margin-bottom:20px;}
.trending-box label{color: #081a2e;
font-size: 12px;
font-weight: 500;display: block;
margin:0 0 5px;}
.trending-box input{border:1px solid #e2e2e2; padding:0 10px; width:100%; border-radius:4px; height:40px; font-size:13px; color:#000;}
.emojionearea, .emojionearea.form-control{ border:1px solid #e2e2e2; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;border-radius: 4px;padding: 10px 5px;}


.main-poll-box{ padding:15px 24px; background:url(../images/poll-bg.jpg) no-repeat; background-size:cover; border-radius:18px;}
.ask-box{ border:1px solid #e2e2e2; border-radius:15px; position:relative; margin-bottom:20px; margin-top:-33px;}
.ask-input-box{ background:#fff; border-radius:18px 18px 0 0;}
.ask-input-box a{ width:100%; resize:none; height:130px; padding:50px 20px 10px; border-radius:18px; border:none; background:#fff; color:rgba(0,0,0,0.5); font-size:16px; display: block;}
.user-image{ width:65px; height:65px; border-radius:100%; overflow:hidden; border:1px solid #f75f6d; /*position:absolute; left:19px; top:-33px;*/ margin-left:19px; position:relative; z-index:1;}
.poll-button-box{ margin-bottom:50px;}
.poll-button-left{ float:left;}
.poll-button-left ul:after{ content:""; clear:both; display:block;}
.poll-button-left ul li{ float:left; margin-right:20px; position:relative;}
.poll-button-left ul li:last-child{ margin-right:0;}
.poll-button-left ul li input{ position:absolute; opacity:0; display:none; cursor:pointer;}
.poll-button-left ul li input+label{ display:block; cursor:pointer; }
.poll-button-right{ float:right;}
.poll-button-right input{ width:95px; height:30px; border-radius:35px; background:#1d2a63; border:none; color:#fff; font-size:14p;x; text-transform:uppercase;}
.poll-button-right input:hover, .poll-button-right input:focus{ background:#ffff00; color:#000;}
.choice-box{ padding:25px; border-top:1px solid #e2e2e2;}
.choice-row{ position:relative; padding-left:45px; background:#fff; margin-bottom:10px;}
.choice-row span{ position:absolute; left:0; top:0; width:40px; height:40px; background:#e5eaf5; line-height:40px; text-align:center; color:#000000; font-weight:700; text-transform:uppercase;}
.choice-row input{ width:100%; height:40px; border:none; background:#fff;}
.choice-add{ padding-top:10px;}
.choice-add a{ color:#000000; font-size:14px; font-weight:600;}
.choice-add a i{ margin-right:7px;}
.choice-add a:hover{ text-decoration:none;}
.remove-box{ border-top:1px solid #e2e2e2; padding:8px 20px 12px; background:#fff; text-align:right; border-radius:0 0 18px 18px; }
.remove-box a{ color:#f75f6d; font-size:12px; font-weight:500;}
.remove-box a i{ margin-right:8px;}
.poll-review-row{ border-bottom:1px solid #d8dce3; margin-bottom:20px;}
.poll-review-row:last-child{ border-bottom:none;}
.poll-review-col{ position:relative; padding-left:80px; padding-top:12px;}
.poll-review-col:after{ content:""; width:2px; height:100%; position:absolute; left:35px; top:50px; background:#55baac; }
.poll-review-col:last-child:after{ display:none;}
.poll-review-user{ position:absolute; left:10px; top:0; width:50px; height:50px; border:2px solid #55baac; border-radius:100%; }
.poll-review-user img{ vertical-align:top; border-radius:100%;}

.poll-review-content > h3{ color:#081a2e; font-weight:600; position:relative; margin-bottom:8px; font-size:18px;padding-right: 30px;}
.poll-review-content > h3 span{ font-size:14px; font-weight:300;}
.poll-review-content p{ color:#999ca1; font-size:16px; margin-bottom:15px;}
.poll-review-date{ position:absolute; right:0; color:#081a2e; font-size:14px; font-weight:300; top:0;}
.review-meta{ margin-bottom:15px;}
.review-meta ul:after{ content:""; clear:both; display:block;}
.review-meta ul li{ float:left; margin-right:26px; }
.review-meta ul li:last-child{ margin-right:0;}
.review-meta ul li a{ color:#000; font-size:16px; font-weight:600;}
.review-meta ul li a i{ margin-right:8px; color:#542c68; font-size:16px;}
.progress{ position:relative; height:8px; background:#bbccdf; width:280px; border-radius:35px;}
.progress-bar { border-radius:35px;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #fed000;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;

}
.sr-only{ color:#542c68; font-size:16px; font-weight:600; position:absolute; right: -45px; top: -5px;clip: inherit; width:auto; height:auto}
.poll-review-graph{ margin-bottom:20px;}
.poll-review-graph li{ margin-bottom:25px;}
.poll-review-graph li:last-child{ margin-bottom:0px;}
.poll-review-graph li label{ display:block; color:#000; font-size:16px; margin-bottom:8px; font-weight:600;}
.poll-review-graph li label span{ font-weight:300;}

.alert{  padding: 15px;  padding-right: 35px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; position:relative;}
.alert-dismissible {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert a.close {
    text-decoration: none !important;
    font-size: 25px ;
    line-height: 1.2;
	position:absolute;
top: 10px;
right: 10px;
color: inherit;
}

body {
  padding: 30px;
}

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #542c68;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #5e5e5e;
}
.can-toggle input[type="checkbox"]:hover ~ label {
  color: #6a6a6a;
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #55bc49;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #55baac;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #55baac;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #55baac;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #55baac;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #542c68;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}
.can-toggle.can-toggle--size-small input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small label {
  font-size: 13px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 28px;
  flex: 0 0 90px;
  border-radius: 2px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  left: 45px;
  font-size: 10px;
  line-height: 28px;
  width: 45px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  top: 1px;
  left: 1px;
  border-radius: 1px;
  width: 44px;
  line-height: 26px;
  font-size: 10px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
          transform: translate3d(78px, 0, 0);
}
.can-toggle.can-toggle--size-large input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  flex: 0 0 160px;
  border-radius: 4px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
  color: #a23768;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
  color: #39916a;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #44ae7f;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #368a65;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #3d9c72;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #2f7757;
}
.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.3s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #444;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #2b2b2b;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label {
  color: #373737;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label:hover {
  color: #62b125;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #75d32d;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #5da924;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #69be28;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #52941f;
}
.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #515151;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.7);
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #444;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(58px, 0, 0);
          transform: translate3d(58px, 0, 0);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 60px;
  flex: 0 0 120px;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 60px;
  font-size: 13px;
  line-height: 60px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 30px;
  width: 58px;
  line-height: 56px;
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
